/* | BOOTSTRAP CLASS | col-md-* | Medium devices (tablets, 768px and up)*/

@media screen and (max-width: 768px) { 

	/*==============header===============*/

	.nav-link img{
   		max-width: 30px;
   	}

   	.nav-profile img {
   		display: none;
   	}

	/*===============section-1==========*/
	.description {
	     padding: 30px 0; 
	    margin: 0px auto;
	    width: 75%;
	}

	.image-area img {
		padding: 20px 0;
	}

	/*===============footer-===============*/

	.fab {
	    padding: 9px 4px;
	    width: 36px;
	    height: 36px;
	    text-align: center;
   	}



}

@media screen and (max-width: 320px) { 

	/*===================section-1===============*/
	.description h1{
		font-size: 24px;
	}

	.description{
		width: 78%;
	}
}

@media screen and (max-width: 480px) {


	/*============header================*/	

	.navbar-brand img{
		max-width: 41% !important;
	}


	/*===========section-three========*/

	.desc-second h1{
		padding:10px 0;
		text-align: center;
	}

	/*===================footer================*/

	.social-list{
		text-align: center;
	}

	.widget {
		text-align: center;
	}

	.widget ul{
		padding-left: 0;
	}
}
